.base-nav-layout {
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    transition: 0.5s;
    z-index: 1000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: space-between;
    overflow: auto;
}

.container-fluid {
    top: 0;
    position: fixed;
    height: 100%;
    margin-left: 55px;
    overflow: auto;
    background-color: whitesmoke;
    padding-right: 65px;
}

.base-nav-layout:hover {
    width: 170px;
}

.nav-layout ul {
    list-style-type: none;
    padding: 0;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.nav-text {
    margin-left: 20px;
    opacity: 0;
}

.nav-item:hover {
    background-color: #555;
    border-radius: 10px;
}

.f-basic-black {
    color: #424662;
}