{% extends "base_layout.html" %}

{% block title %} FMD Home {% endblock title %}

{% block stylesheet %}

<link href="/static/assets/css/home.css" rel="stylesheet">

{% endblock stylesheet %}

{% block js %}

<script src="/static/assets/js/home.js"></script>
<script src="/static/assets/js/utils.js"></script>
<script
        src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>

{% endblock js%}

{% block content%}

<div class="home-layout" id="home-layout">

    <h1> This is home page</h1>

</div>

{% endblock content%}