{% extends "base_layout.html" %}
{% load static %}
{% load filters %}

{% block title %} FMD Home {% endblock title %}

{% block stylesheet %}

<link href="{% static 'assets/css/home.css' %}" rel="stylesheet">
<link rel="stylesheet"
    href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

{% endblock stylesheet %}

{% block js %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript"
    src="https://www.gstatic.com/charts/loader.js"></script>
<script
    src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'assets/js/utils.js' %}"></script>
<script src="{% static 'assets/js/home.js' %}"></script>

{% endblock js %}

{% block content %}

<div class="home-layout" id="home-layout">

    {% include "semester.html" %}

    {% if user.is_superuser or user|in_group:'admin_group' %}
    <div id="semester-summary" class="summary shadow bg-white">
        <div class="ais-title bg-white">
            <img class="ais-logo p-2" src="{% static 'assets/images/AIS.png' %}"
                width="50px" height="50px">
            <span class="date-label p-lg-4 fs-2 f-basic-black">
                Financial Management Database
            </span>
        </div>

        <div class="semester-overview">
            <div class="data-table">
                <span class="f-basic-black fs-4"> Semester Overview </span>
                <table id="dataTable" class="p-1"></table>
            </div>

            <div class=" cash-summary ml-2">
                <div class="card m-2 balance-card">
                    <div class="card-body">
                        <h4 class="card-title fs-5">Cash Inflow</h4>
                        <p class="card-text" id="cash-inflow-text">$0</p>
                    </div>
                </div>
                <div class="card m-2 balance-card">
                    <div class="card-body">
                        <h4 class="card-title fs-5">Cash Outflow</h4>
                        <p class="card-text" id="cash-outflow-text">$0</p>
                    </div>
                </div>
                <div class="card m-2 balance-card">
                    <div class="card-body">
                        <h4 class="card-title fs-5">Net Cash Flow</h4>
                        <p class="card-text" id="cash-netflow-text">$0</p>
                    </div>
                </div>
            </div>

            <div class="card budget m-2 mb-4 f-basic-black">
                <div class="card-body">
                    <p class="card-text fs-5"> Budget
                        <span class="ps-3" id="estimated-budget">$0</span>
                    </p>
                    <p class="card-text fs-5"> Usage
                        <span class="ps-3" id="budget-usage">$0</span>
                    </p>
                    <p class="card-text fs-5 mt-4"> Remaining
                        <span class="ps-3"
                            id="budget-usage-remaining"></span>
                    </p>
                    <canvas id="progressChart" height="100"></canvas>
                </div>
            </div>

        </div>

    </div>

    <div id="purpose-usage-summary"
        class="summary d-flex shadow bg-white rounded-2 flex-wrap">
        <div id="purpose-income" class="d-flex ">
            <div>
                <p></p>
                <table id="purpose-income-table">
                    <thead>
                        <tr>
                            <th>Purpose</th>
                            <th>Income</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Table content will be populated here -->
                    </tbody>
                </table>

            </div>

            <div id="purpose-income-pie-chart"
                style="width: 370px; height: 250px;" class="p-2"></div>
        </div>

        <div id="purpose-expense" class="d-flex ">
            <div>
                <p></p>
                <table id="purpose-expense-table">
                    <thead>
                        <tr>
                            <th>Purpose</th>
                            <th>Expense</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Table content will be populated here -->
                    </tbody>
                </table>

            </div>

            <div id="purpose-expense-pie-chart"
                style="width: 370px; height: 250px;" class="p-2"></div>
        </div>

    </div>
    {% else %}
    <h1>Access Denied</h1>
    {% endif %}


</div>

{% endblock content%}