{% load static %}

<link href="{% static 'assets/css/semester.css' %}" rel="stylesheet">
<script src="{% static 'assets/js/semester.js' %}"></script>
<script src="{% static 'assets/js/utils.js' %}"></script>

<div class="top-nav-semester shadow mt-2 f-basic-black">

    <select class="fiscal-term-drop-down " id="fiscal-term-drop-down"></select>
    <span class="p-lg-4" id="start-date-label">Start Date: </span>
    <span class="p-lg-4" id="end-date-label">End Date: </span>
    <span class="p-lg-4 px-5 mx-5" id="days-left-date-label">Days left: </span>

</div>