<!DOCTYPE html>
<html lang="en">
    {% load static %}

    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <title> {% block title %} {% endblock %}</title>
        <link rel="icon" href="{% static 'assets/images/AIS.png' %}" type="image/icon type">
        <!---Custom CSS File--->
        <link href="{% static 'assets/css/login.css' %}" rel="stylesheet">
        <script src="{% static 'assets/js/login.js' %}"></script>
    </head>

    <body>
        <div class="container">
            {% block form %} {% endblock %}
        </div>
    </body>

</html>